*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

header{
    display: flex;
    width: 100%;
    background-color: bisque;
    justify-content: space-around;
    padding: 40px;
    align-items: center;
    height: 100px;
}

main {
    gap: 50px;
}

.nav_contenedor nav a{
    text-decoration: none;
    margin: 0px 0px 0px 20px;
    
}

.usuario img{
    border-radius: 100%;
    width: 60px;
}

.imgenes{
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 20;
    background-color: aqua;
}
.imagen1 img{
    width: 400px;
    border-radius: 95px 95px 30px 30px;
    padding: 30px 0 0 0;
    background-color: black;
}
.otras img{
    width: 50px;
    margin: 15px 15px;
    background-color: black;
    border-radius: 10px;
}

.descripcion {
    display: flex;
    flex-direction: column;
    background-color: aqua;
}


